@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: roboto;
}

.image-hover-effect {
    transition: filter 0.3s ease; /* Smooth transition for the effect */
}

.image-hover-effect:hover {
    filter: brightness(0) saturate(100%); /* Turn image black */
}


